
body {
    background-color: #52575D;
}
.div1 {
    padding: 0;
    margin-top: 0;
    background-color: #D8D9DA !important;
}
.div1 a {
    text-decoration: none;
}
.navbar {
    background-color: #272829 !important;
}
.two {
    background-color: #DFD8C8;
    border-radius: 6px;
    margin-top: 125px !important;
}
.foot {
    background-color: #272829;
}
.pricelist {
    text-shadow: 2px 2px 4px black;
    font-size: 40px;
    font-family: 'Zen Loop', cursive;
    color: #DFD8C8;
}
.qrPhoto h1{
    color: #D8D9DA;
    text-decoration: none !important;
    padding-right: 150px;
}

.word-space{
    margin-right: 10px;
}
.qrcode{
    height: 200px;
    text-align: center;
}
.priceqr{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.qrPhoto a{
    text-decoration: none;
}
.cardtitle{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.carousel-item{
    height: 26rem;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 8;
}
.trim h1{
    color: gold;
    font-family: 'Zen Loop', cursive;
    text-shadow: 2px 2px 2px black !important;
}
.photoDiv{
    display: flex;
}
.foot span{
    color: #D8D9DA !important;
}
@media (max-width: 991px) {
    #navbarsExample08 {
        font-size: 75px;
        font-family: 'Zen Loop', cursive;
    }
    .navbar-toggler-icon {
        padding: 35px;
    }
    .pricelist {
        text-shadow: 2px 2px 4px black;
        font-size: 80px;
        font-family: 'Zen Loop', cursive;
        color: #DFD8C8;
        text-align: left;
    }
    .priceqr {
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
    }
    .qrPhoto h1 {
        color: #D8D9DA;
        text-decoration: underline !important;
        padding-right: 150px;
    }
    .two p {
        font-size: 35px;
        text-align: center;
    }
    .two h1{
        text-align: center;
    }
    .two .pic {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div1 h1 {
        font-size: 93px;
    }
    .feet{
        height: 100px;
    }
    .foot svg{
        width: 75px;
        height: 75px;
        padding-bottom: 15px;
    }
    .foot span{
        font-size: 25px;
    }
}
